<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/dashboard.css" />
        <script
            src="https://kit.fontawesome.com/008151671d.js"
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/script.js" defer></script>
        <script src="/javascripts/uploadImage.js" defer></script>

        <title><%= title %></title>
    </head>
    <body>
        <div><%- include('header') %></div>
        <div class="main">
            <div class="all-posts">
                <div class="post-container">
                    <div class="new-post-header">
                        <img
                            src="<%= user.profile_picture%>"
                            alt="Profile Pic"
                        />
                        <div class="post-form">
                            <form
                                action=""
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                <label for="post"></label>
                                <textarea
                                    name="post"
                                    id="post"
                                    cols="30"
                                    rows="3"
                                    placeholder="Write a new post"
                                    required
                                ></textarea>
                                <label
                                    for="image"
                                    class="input-file-label"
                                    id="fileLabel"
                                >
                                    Add Img</label
                                >
                                <input
                                    type="file"
                                    name="image"
                                    accept="image/*"
                                    id="image"
                                    class="input-file"
                                />

                                <button type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- If there are posts  -->
                <% if(posts) { %>
                <!-- Loop through each one  -->
                <% posts.forEach(function(post, index) { %>
                <div class="post-container">
                    <div class="post-header">
                        <div class="user-link">
                            <a href="/userPage/<%= post.author._id %>">
                                <img
                                    src="<%= post.author.profile_picture %>"
                                    alt="Profile Pic"
                                    class="profile-pic"
                                />
                            </a>
                        </div>

                        <div class="post-header-info">
                            <p class="author-name"><%= post.author.name %></p>
                            <p class="date-time">
                                <%=post.formattedTimestamp%>
                            </p>
                        </div>
                    </div>
                    <div class="post-body">
                        <p><%= post.post %></p>
                        <% if (post.image) { %>
                        <img
                            src="<%= post.image %>"
                            alt="image"
                            class="post-image"
                        />
                        <% } %>
                        <div class="likes-comment-form-container">
                            <div class="likes-comments-counter">
                                <p id="likesCount<%=index%>">
                                    <%= post.likes.length %> likes -
                                </p>
                                <p><%=post.comments.length %> comments</p>
                            </div>
                            <div class="post-footer-icons">
                                <form
                                    action="/dashboard/likes"
                                    method="POST"
                                    id="likeForm<%= index %>"
                                    enctype="multipart/form-data"
                                >
                                    <input
                                        type="hidden"
                                        name="userWhoLikes"
                                        value="<%=user._id%>"
                                    />
                                    <input
                                        type="hidden"
                                        name="postId"
                                        value="<%= post._id %>"
                                    />
                                    <i
                                        class="<%= post.likes.includes(user._id) ? 'fa-solid' : 'fa-regular' %> fa-thumbs-up"
                                        style="cursor: pointer"
                                        id="likeIcon<%=index%>"
                                        onclick="submitLikeForm(event,'<%=index%>')"
                                    ></i>
                                </form>
                                <i
                                    id="iconReg<%= index %>"
                                    class="fa-regular fa-comment"
                                    style="display: block; cursor: pointer"
                                    onclick="openCommentsForm('<%= index %>')"
                                ></i>
                                <i
                                    class="fa-solid fa-comment"
                                    id="iconSolid<%=index%>"
                                    style="display: none; cursor: pointer"
                                    onclick="openCommentsForm('<%= index %>')"
                                ></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="comments">
                            <% if(post.comments) { %> <%
                            post.comments.forEach(function(comment) { %>
                            <div class="comments-comment">
                                <!-- <div class="comments-image">
                                    <img
                                        src="<%=comment.author.profile_picture%>"
                                        alt="profile pic"
                                    />
                                </div> -->
                                <div class="user-link comments-image">
                                    <a
                                        href="/userPage/<%= comment.author._id %>"
                                    >
                                        <img
                                            src="<%= comment.author.profile_picture %>"
                                            alt="Profile Pic"
                                            class="profile-pic"
                                        />
                                    </a>
                                </div>

                                <div class="comments-content">
                                    <div class="comment-name-time">
                                        <p class="author-name">
                                            <%= comment.author.name %>
                                        </p>
                                        <p class="date-time">
                                            <%= comment.formattedCreatedAt %>
                                        </p>
                                    </div>
                                    <div class="comment-text">
                                        <p><%= comment.content %></p>
                                    </div>
                                </div>
                            </div>
                            <% })} %>
                        </div>
                        <div
                            class="comments-form-container"
                            id="commentsFormContainer<%=index%>"
                            style="display: none"
                        >
                            <div class="comments-form">
                                <div class="new-comments-image">
                                    <img
                                        src="<%= user.profile_picture %>"
                                        alt="Profile Pic"
                                    />
                                </div>
                                <form
                                    action="/dashboard/comments"
                                    method="POST"
                                    id="commentForm<%= index %>"
                                >
                                    <label
                                        for="commentContent<%=index%>"
                                    ></label>
                                    <div class="comments-form-text-button">
                                        <textarea
                                            name="content"
                                            placeholder="Add a comment"
                                            id="commentContent<%=index%>"
                                            class="comment-form-input"
                                            cols="30"
                                            rows="3"
                                            required
                                        ></textarea>
                                        <input
                                            type="hidden"
                                            name="postId"
                                            value="<%= post._id %>"
                                        />
                                        <button type="submit" id="postButton">
                                            Post
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %> <% } %>
                <!-- If there are no posts or posts are less than 2 -->
                <% if(!posts || posts.length < 2) { %>
                <div class="post-container">
                    <div class="few-posts-message">
                        <p>Follow More Users To See More Content</p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
