<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <div><%- include('header') %></div>

        <h1>Posts</h1>
        <!-- If there are posts  -->
        <% if(posts) { %>
        <!-- Loop through each one  -->
        <% posts.forEach(function(post) { %> <%
        <!-- checks if post is from the current user or from a user the current one follows  -->
        if(post.author._id.toString() === user._id.toString() ||
        user.followed.includes(post.author._id)) { %>
        <div>
            <h3>Post Author: <%= post.author.username %></h3>
            <p><em>(<%=post.timestamp%>)</em></p>
            <p><%= post.post %></p>
            <form action="/dashboard/likes" method="POST">
                <input
                    type="hidden"
                    name="userWhoLikes"
                    value="<%=user._id%>"
                />
                <input type="hidden" name="postId" value="<%= post._id %>" />
                <button type="submit">Like</button>
            </form>
            <p><%= post.likes.length %></p>
            <br />
            <h3>Comments</h3>
            <!-- checks if there are comments  -->
            <% if(comments) { %>
            <!-- loops through each comment  -->
            <% comments.forEach(function(comment) { %> <%
            <!-- makes sure comment is assigned to the correct post  -->
            if(comment.post._id.toString() === post._id.toString()) { %>
            <p>Comment Author: <em>(<%= comment.author.name %>)</em></p>
            <p><%= comment.content %></p>
            <% } %> <% })} %>
            <form action="/dashboard/comments" method="POST">
                <label for="content">New Comment</label>
                <textarea
                    name="content"
                    id="content"
                    cols="30"
                    rows="10"
                ></textarea>
                <input type="hidden" name="postId" value="<%= post._id %>" />
                <button type="submit">Submit Comment</button>
            </form>
        </div>
        <% } %> <% }) %> <% } %>

        <h1>New Post</h1>
        <form action="" method="POST">
            <label for="post">Post</label>
            <textarea
                name="post"
                id="post"
                cols="30"
                rows="10"
                required
            ></textarea>
            <button type="submit">Submit Post</button>
        </form>
    </body>
</html>
