<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/dashboard.css" />
        <script
            src="https://kit.fontawesome.com/008151671d.js"
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/script.js"></script>
        <title><%= title %></title>
    </head>
    <body>
        <div><%- include('header') %></div>
        <div class="main">
            <h1>Posts</h1>
            <!-- If there are posts  -->
            <% if(posts) { %>
            <!-- Loop through each one  -->
            <% posts.forEach(function(post, index) { %> <%
            <!-- checks if post is from the current user or from a user the current one follows  -->
            if(post.author._id.toString() === user._id.toString() ||
            user.followed.includes(post.author._id)) { %>
            <div class="post-container">
                <div class="post-header">
                    <img
                        src="<%= post.author.profile_picture %>"
                        alt="profile pic"
                    />
                    <div class="post-header-info">
                        <p><%= post.author.name %></p>
                        <p><em>(<%=post.formattedTimestamp%>)</em></p>
                    </div>
                </div>
                <div class="post-body">
                    <p><%= post.post %></p>
                </div>
                <div class="post-footer">
                    <div class="likes-comments-counter">
                        <p>
                            <%= post.likes.length %> likes -
                            <%=post.comments.length %> comments
                        </p>
                        <div class="post-footer-icons">
                            <form
                                action="/dashboard/likes"
                                method="POST"
                                id="likeForm<%= index %>"
                            >
                                <input
                                    type="hidden"
                                    name="userWhoLikes"
                                    value="<%=user._id%>"
                                />
                                <input
                                    type="hidden"
                                    name="postId"
                                    value="<%= post._id %>"
                                />
                                <% if(!post.likes.includes(user._id)) { %>
                                <i
                                    class="fa-regular fa-thumbs-up"
                                    style="cursor: pointer"
                                    onclick="submitLikeForm('<%=index%>')"
                                ></i>
                                <% } else { %>

                                <i
                                    class="fa-solid fa-thumbs-up"
                                    style="cursor: pointer"
                                    onclick="submitLikeForm('<%=index%>')"
                                ></i>
                                <% } %>
                            </form>
                            <i class="fa-regular fa-comment"></i>
                            <!-- <i class="fa-solid fa-comment"></i> -->
                        </div>
                    </div>
                    <div class="comments">
                        <% if(post.comments) { %> <%
                        post.comments.forEach(function(comment) { %>
                        <div class="comments-comment">
                            <div class="comments-image">
                                <img
                                    src="<%=comment.author.profile_picture%>"
                                    alt="profile pic"
                                />
                            </div>
                            <div class="comments-content">
                                <div class="comment-name-time">
                                    <p><%= comment.author.name %></p>
                                    <p><%= comment.formattedCreatedAt %></p>
                                </div>
                                <div class="comment-text">
                                    <p><%= comment.content %></p>
                                </div>
                            </div>
                        </div>
                        <% })} %>
                    </div>
                    <form action="/dashboard/comments" method="POST">
                        <label for="content">New Comment</label>
                        <textarea
                            name="content"
                            placeholder="Add a comment"
                            id="content"
                            cols="30"
                            rows="10"
                        ></textarea>
                        <input
                            type="hidden"
                            name="postId"
                            value="<%= post._id %>"
                        />
                        <button type="submit">Submit Comment</button>
                    </form>
                </div>
            </div>
            <% } %> <% }) %> <% } %>

            <h1>New Post</h1>
            <form action="" method="POST">
                <label for="post">Post</label>
                <textarea
                    name="post"
                    id="post"
                    cols="30"
                    rows="10"
                    required
                ></textarea>
                <button type="submit">Submit Post</button>
            </form>
        </div>
    </body>
</html>
