<script src="/javascripts/followersPopUp.js" defer></script>

<div id="followersPopUp" class="modal">
    <div class="followers-popup-content">
        <div class="all-users-popup" id="allUsersPopup">
            <% if(followers.length > 0 ) { %> <%
            followers.forEach(function(follower) { %>
            <div class="user-container" id="userContainer<%= follower._id%>">
                <div class="user-link">
                    <a href="/userPage/<%= follower._id %>">
                        <img
                            src="<%= follower.profile_picture %>"
                            alt="Profile Pic"
                            class="profile-pic"
                        />
                    </a>
                </div>
                <div class="user-info-form-container">
                    <div class="user-list-info-and-form">
                        <div class="users-list-info">
                            <p class="users-list-name"><%=follower.name%></p>
                            <p class="users-list-username">
                                <%= follower.username %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% })} %>
        </div>
    </div>
</div>
