<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title><% title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <div><%- include('header') %></div>

        <% if(users) { %> <% users.forEach(function(user) { %> <%
        if(currentUser._id.toString() !== user._id.toString()) { %>
        <div>
            <a href="/userPage/<%= user._id %>">
                <img
                    src="<%= user.profile_picture %>"
                    alt="Profile Pic"
                    class="profile-pic"
                />
            </a>
            <h3>Username: <%=user.username%></h3>
            <p>Name: <%=user.name%></p>
            <form action="" method="POST">
                <input
                    type="hidden"
                    name="userToFollow"
                    value="<%=user._id%>"
                />
                <button type="submit">
                    <% if(!currentUser.followed.includes(user._id)) { %> Follow
                    <% } else { %> Unfollow <% } %>
                </button>
            </form>
        </div>
        <% } %> <% })} %>
    </body>
</html>
