<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/dashboard.css" />
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/popup.css" />

        <script
            src="https://kit.fontawesome.com/008151671d.js"
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/popup.js" defer></script>
        <script src="/javascripts/script.js" defer></script>
        <script src="/javascripts/followersPopUp.js" defer></script>
        <script src="/javascripts/followingPopUp.js" defer></script>

        <title><%= title %></title>
    </head>
    <body>
        <!-- HEADER -->
        <div class="global-header">
            <div class="global-nav-bar">
                <a href="/dashboard">
                    <img class="logo" src="/images/POCO_With.png" alt="logo" />
                </a>
                <div class="global-nav">
                    <a
                        href="/dashboard"
                        class="<%= currentPage === '/dashboard' ? 'active' : '' %>"
                        >Dashboard</a
                    >
                    <a
                        href="/profile"
                        class="<%= currentPage === '/profile' ? 'active' : '' %>"
                        >Profile Page</a
                    >
                    <a
                        href="/users"
                        class="<%= currentPage === '/users' ? 'active' : '' %>"
                        >Users</a
                    >
                </div>
                <div class="user-nav">
                    <img
                        src="<%= currentUser.profile_picture %>"
                        alt="Profile Pic"
                        class="profile-pic"
                    />
                    <button class="header-drop-down-btn" id="headerDropDownBtn">
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="header-drop-down">
                        <div class="drop-down-content">
                            <a href="/about" class="drop-down-links"
                                >About Us</a
                            >
                            <a href="/contact" class="drop-down-links"
                                >Contact Us</a
                            >
                            <a href="/logout" class="logout-link">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MAIN  -->
        <div class="main">
            <div class="sidebar">
                <div class="profile-sidebar">
                    <img
                        class="sidebar-pic"
                        src="<%= user.profile_picture %>"
                        alt=""
                    />
                    <p class="profile-name"><%=user.name%></p>
                    <div class="followers-following">
                        <!-- IF USER HAS FOLLOWERS  -->
                        <% if(followers.length > 0) { %>
                        <!-- MAKE THE LABEL AND NUMBER A LINK TO POPUP  -->
                        <div class="followers" id="followers">
                            <div><%- include('followersPopUp') %></div>
                            <p class="follow-label" style="cursor: pointer">
                                Followers
                            </p>
                            <p class="follow-number" style="cursor: pointer">
                                <%= user.followers.length %>
                            </p>
                        </div>
                        <!-- IF USER DOES NOT HAVE FOLLOWERS  -->
                        <% } else { %>
                        <!-- MAKE THE LABEL AND NUMBER BE STATIC  -->
                        <div class="followers">
                            <p class="follow-label">Followers</p>
                            <p class="follow-number">
                                <%= user.followers.length %>
                            </p>
                        </div>
                        <% } %>
                        <!-- IF USER IS FOLLOWING PEOPLE  -->
                        <% if(following.length > 0) { %>
                        <!-- MAKE THE LABEL AND NUMBER A LINK TO POPUP  -->
                        <div class="following" id="following">
                            <div><%- include('followingPopUp') %></div>
                            <p class="follow-label" style="cursor: pointer">
                                Following
                            </p>
                            <p class="follow-number" style="cursor: pointer">
                                <%= user.followed.length %>
                            </p>
                        </div>
                        <!-- IF USER IS NOT FOLLOWING PEOPLE  -->
                        <% } else { %>
                        <!-- MAKE THE LABEL AND NUMBER BE STATIC  -->
                        <div class="following">
                            <p class="follow-label">Following</p>
                            <p class="follow-number">
                                <%= user.followed.length %>
                            </p>
                        </div>
                        <% } %>
                    </div>

                    <form action="/userPage/followUser" method="POST">
                        <input
                            type="hidden"
                            name="userToFollow"
                            value="<%=user._id%>"
                        />

                        <% if(!currentUser.followed.includes(user._id)) { %>
                        <button class="follow-button" type="submit">
                            Follow
                        </button>
                        <% } else { %>
                        <button class="unfollow-button" type="submit">
                            Unfollow
                        </button>
                        <% } %>
                    </form>

                    <div class="profile-info">
                        <div class="profile-email">
                            <p class="profile-label"><%=user.email%></p>
                            <p class="profile-label-lite">Email</p>
                        </div>
                        <% if(user.phone) { %>
                        <div class="profile-phone">
                            <p class="profile-label">
                                <%= user.formattedPhone %>
                            </p>
                            <p class="profile-label-lite">Phone</p>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="all-posts">
                <!-- If there are posts  -->
                <% if(posts) { %>
                <!-- Loop through each one  -->
                <% posts.forEach(function(post, index) { %> <%
                <!-- checks if post is from the current user or from a user the current one follows  -->
                if(post.author._id.toString() === user._id.toString()) { %>
                <div class="post-container">
                    <div class="post-header">
                        <div class="user-link">
                            <a href="/userPage/<%= post.author._id %>">
                                <img
                                    src="<%= post.author.profile_picture %>"
                                    alt="Profile Pic"
                                    class="profile-pic"
                                />
                            </a>
                        </div>

                        <div class="post-header-info">
                            <p class="author-name"><%= post.author.name %></p>
                            <p class="date-time">
                                <%=post.formattedTimestamp%>
                            </p>
                        </div>
                    </div>
                    <div class="post-body">
                        <p><%= post.post %></p>
                        <% if (post.image) { %>
                        <img
                            src="<%= post.image %>"
                            alt="image"
                            class="post-image"
                        />
                        <% } %>

                        <div class="likes-comments-counter">
                            <p>
                                <%= post.likes.length %> likes -
                                <%=post.comments.length %> comments
                            </p>
                            <div class="post-footer-icons">
                                <form
                                    action="/dashboard/likes"
                                    method="POST"
                                    id="likeForm<%= index %>"
                                    enctype="multipart/form-data"
                                >
                                    <input
                                        type="hidden"
                                        name="userWhoLikes"
                                        value="<%=user._id%>"
                                    />
                                    <input
                                        type="hidden"
                                        name="userToFollow"
                                        value="<%=user._id%>"
                                    />

                                    <input
                                        type="hidden"
                                        name="postId"
                                        value="<%= post._id %>"
                                    />
                                    <i
                                        class="<%= post.likes.includes(currentUser._id) ? 'fa-solid' : 'fa-regular' %> fa-thumbs-up"
                                        style="cursor: pointer"
                                        id="likeIcon<%=index%>"
                                        onclick="submitLikeForm(event,'<%=index%>')"
                                    ></i>
                                </form>

                                <i
                                    id="iconReg<%= index %>"
                                    class="fa-regular fa-comment"
                                    style="display: block; cursor: pointer"
                                    onclick="openCommentsForm('<%= index %>')"
                                ></i>
                                <i
                                    class="fa-solid fa-comment"
                                    id="iconSolid<%=index%>"
                                    style="display: none; cursor: pointer"
                                    onclick="openCommentsForm('<%= index %>')"
                                ></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="comments">
                            <% if(post.comments) { %> <%
                            post.comments.forEach(function(comment) { %>
                            <div class="comments-comment">
                                <div class="user-link comments-image">
                                    <a
                                        href="/userPage/<%= comment.author._id %>"
                                    >
                                        <img
                                            src="<%= comment.author.profile_picture %>"
                                            alt="Profile Pic"
                                            class="profile-pic"
                                        />
                                    </a>
                                </div>

                                <div class="comments-content">
                                    <div class="comment-name-time">
                                        <p class="author-name">
                                            <%= comment.author.name %>
                                        </p>
                                        <p class="date-time">
                                            <%= comment.formattedCreatedAt %>
                                        </p>
                                    </div>
                                    <div class="comment-text">
                                        <p><%= comment.content %></p>
                                    </div>
                                </div>
                            </div>
                            <% })} %>
                        </div>
                        <div
                            class="comments-form-container"
                            id="commentsFormContainer<%=index%>"
                            style="display: none"
                        >
                            <div class="comments-form">
                                <div class="new-comments-image">
                                    <img
                                        src="<%= currentUser.profile_picture %>"
                                        alt="Profile Pic"
                                    />
                                </div>
                                <form
                                    action="/userPage/comments"
                                    method="POST"
                                    id="commentForm<%= index %>"
                                >
                                    <input
                                        type="hidden"
                                        name="userToFollow"
                                        value="<%=user._id%>"
                                    />
                                    <label
                                        for="commentContent<%=index%>"
                                    ></label>
                                    <div class="comments-form-text-button">
                                        <textarea
                                            name="content"
                                            placeholder="Add a comment"
                                            id="commentContent<%=index%>"
                                            class="comment-form-input"
                                            cols="30"
                                            rows="3"
                                            required
                                        ></textarea>
                                        <input
                                            type="hidden"
                                            name="postId"
                                            value="<%= post._id %>"
                                        />
                                        <button type="submit" id="postButton">
                                            Post
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %> <% }) %> <% } %>
            </div>
        </div>
    </body>
</html>
